.custom-scroll::-webkit-scrollbar {
    width: 5px;
    padding-right: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}